body {
    font-family: 'Roboto';
}





/* хедер */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-contair {
    display: flex;
    align-items: center;

}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-pages {
    display: flex;
    gap: 32px;
    margin-right: auto;
}

.header-navigation {
    display: flex;
    margin-left: 93px;
    width: 100%;


}



.a {
    text-decoration: none;
}

.logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}


.header-logo {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;



}

.header-contacts {
    display: flex;
    gap: 50px;
}



.header-l {
    flex: content;

}

.header-link {

    color: #212121;

    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;



}


.header-link:hover {
    color: #2196F3;
}

.header-link:focus {
    color: #2196F3;
}


.header-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

    display: flex;
    align-items: center;

}


.header-contact-link:hover .heder-contact {
    color: #2196F3;
}

.header-contact-link:focus .heder-contact {
    color: #2196F3;
}

.header-contact-link:hover .services-icon {
    fill: #2196F3;
}

.header-contact-link:hover .heder-contacts {
    color: #2196F3;
}

.header-contact-link:focus .heder-contacts {
    color: #2196F3;
}

.header-contact-link:focus {
    outline: none;
}


.header-contact-link:hover .services-icons {
    fill: #2196F3;
}

.header-contact-link:focus .services-icons {
    fill: #2196F3;
}


.header-contact-link:focus .services-icon {
    fill: #2196F3;
}



.services-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: #757575;
}



.services-icons {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: #757575;
}


/* герой */

.hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/box.jpg);
    background-color: #2F303A;
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;

}



.hero-title {
    width: 696px;

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 30px;



}

.hero-button {
    width: 216px;
    height: 50px;
    flex-shrink: 0;

    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 187.5% */
    letter-spacing: 0.96px;

    display: block;
    border: none;

    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;

}






/* правила */

.adventage {

    padding-top: 94px;
    padding-bottom: 94px;

}

.adventage-txt {
    align-items: center;

}




.adventage-list {

    display: flex;
    gap: 30px;


}

.adventage-text:nth-child(1)::before {
    background-image: url(../images/antenna1.png);
}

.adventage-text:nth-child(2)::before {
    background-image: url(../images/clock1.png);
}

.adventage-text:nth-child(3)::before {
    background-image: url(../images/diagram1.png);
}

.adventage-text:nth-child(4)::before {
    background-image: url(../images/astronaut1.png);
}

.adventage-text::before {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    content: "";
    display: block;

    ;

    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.adventage-title {
    width: 270px;
    color: #212121;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;



}

.adventage-item {
    width: 270px;
    height: 72px;
    flex-shrink: 0;

    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;


}

.adventage-link::before {
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: #F5F4FA;
}




/* work */

.work {
    margin-bottom: 94px;
}

.work-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 50px;
}

.work.text {
    width: 370px;
    height: 294px;
    flex-shrink: 0;

    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}


.work-img {
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.80);
    position: relative;
    bottom: 70px;
}



.work-list {
    display: flex;
    gap: 30px;
}

.work-subtext {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
}

/* team */
.team {
    background: #F5F4FA;

    padding-top: 94px;
    padding-bottom: 94px;
}


.team-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-text {

    color: #757575;

    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
}

.team-subtitle {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;


}

.team-item {



    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    color: #757575;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.team-img {
    height: 260px;
    width: 270px;
    margin-bottom: 30px;

}



.team-list {
    display: flex;

    gap: 30px;
}

.team-icon {
    fill: #AFB1B8;
    cursor: pointer;

}


.team-icon-photo {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
}

.team-icon-photo:hover {
    border-radius: 50px;
    background-color: #2196F3;

}

.team-icon-photo:focus {
    border-radius: 50px;
    background-color: #2196F3;
    fill: #FFFFFF;

}

.team-icon:hover {
    fill: #FFFFFF;
    border-radius: 50px;

}

.team-icon:focus {
    fill: #FFFFFF;
    border-radius: 50px;

}

.team-subicon {
    width: 20px;
    height: 20px;
}





.team-sublist {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 28px;
}

/* footer */

.footer {


    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}


.logo {
    color: #2196F3;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}


.footer-logo {
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;




}

.footer-text {
    margin-top: 9px;
}

.footer-address {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;
    margin-top: 20px;

}

.footer-gmail {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;

}

.footer-contact {
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.42px;



}

.footer-container {
    display: flex;
}





.footer-icon-list {
    display: flex;
    gap: 10px;

}

.footer-icons {
    width: 20px;
    height: 20px;

}

.footer-icon {
    margin-top: 20px;
}





.footer-icon-photo {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
}

.footer-icon-photo {
    border-radius: 50px;
    background-color: #FFFFFF1A;
}

.footer-icon-photo:focus {
    color: #FFF;
    background-color: #2196F3;
}

.footer-icon-photo:hover {
    border-radius: 50px;
    background-color: #2196F3;
}


.footer-text-icon {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-icon-photo {
    fill: #FFFFFF;
}

.footer-icons-photo {
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    margin-left: 70px;
}

.clients-list {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    justify-content: center;
}

.cliehts-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
}



.clients-icons:focus .cliehts-icon {
    fill: #2196F3;

}

.clients-icons:hover .cliehts-icon {
    fill: #2196F3;
}


.clients-icons:hover {
    border: 1px solid #2196F3;

}

.clients-icons:focus {
    border: 1px solid #2196F3;
}




.clients-title {

    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-icons {
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px 16px 32px;
    display: block;
    outline: none;
}

.backdrop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

input{
    display: flex;
    justify-content: center;
}

.backdrop-subtitle {
    color: #757575;

    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
   
}

.backdrop-title {
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    display: flex;
    justify-content: center;
}