.button {
    padding-top: 94px;

    &__list {

       @extend %main;
        gap: 8px;
    }

   

    &__portfolio {
        color: $title-color;
        text-align: center;
        font-family: Roboto;
        @extend %item;
        /* 162.5% */
        letter-spacing: 0.48px;
        width: 130px;
        height: 38px;
        flex-shrink: 0;
        border-radius: 4px;
        background: $additionaltext-color;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $additionaltext-color;
            text-align: center;
            font-family: Roboto;
            @extend %item;
            /* 162.5% */
            letter-spacing: 0.48px;
            border-radius: 4px;
            background: $accented-color;
            /* shadow-middle */
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }

        &:focus {
            color: $additionaltext-color;
            text-align: center;
            font-family: Roboto;
            @extend %item;
            /* 162.5% */
            letter-spacing: 0.48px;
            border-radius: 4px;
            background: $accented-color;
            /* shadow-middle */
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }


    }
    &__item {
        color: $accented-color;
        @extend %item;
        text-align: center;
        letter-spacing: 0.03em;
        color: $additionaltext-color;
        color: $accented-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            color: $accented-color;
            @extend %item;
            text-align: center;
            letter-spacing: 0.03em;
            color: $additionaltext-color;
            color: $accented-color;
        }
    
        &:focus {
            color: $accented-color;
            @extend %item;
            text-align: center;
            letter-spacing: 0.03em;
            fill: $additionaltext-color;
            fill: $accented-color;
        }
    }

}

