.footer {
    background: $background-color;
    padding-top: 60px;
    padding-bottom: 60px;


    &__sublogo {
        color: $accented-color;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }

    &__logo {
        color: $additionaltext-color;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
    }

    &__text {
        margin-top: 9px;
    }

    &__address {
        color: $additionaltext-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
        margin-top: 20px;

    }

    &__gmail {
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
    }

    &__contact {
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
    }

    &__container {
        display: flex;
    }

    &__iconlist {
        display: flex;
        gap: 10px;
    }

    &__icons {
        width: 20px;
        height: 20px;
    }

    &__icon {
        margin-top: 20px;
    }

    &__iconphoto {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        background-color: $title-color;
        fill: $additionaltext-color;
        border-radius: 50px;
        background-color: rgba(255, 255, 255, .1019607843);

        &:focus {
            color: $additionaltext-color;
            background-color: $accented-color;
        }

        &:hover {
            border-radius: 50px;
            background-color: $accented-color;
        }
    }

    &__iconsphoto {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
        margin-left: 70px;
    }

    &__texticon {
        color: $additionaltext-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

}