.adventage {
    @extend %time;

    &__txt {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    &__text:nth-child(1)::before {
        background-image: url(../images/antenna1.png);

    }

    &__text:nth-child(2)::before {
        background-image: url(../images/clock1.png);
        
    }

    &__text:nth-child(3)::before {
        background-image: url(../images/diagram1.png);
        
    }

    &__text:nth-child(4)::before {
        background-image: url(../images/astronaut1.png);
    
    }

    &__text::before {
        @extend %title;

        background-color: $additionaltext-color;
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 30px;
    }

    &__list {
       

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 30px;
        }
    }



    &__title {
        width: 270px;
        color: $title-color;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__item {
        width: 270px;
        height: 72px;
        flex-shrink: 0;
        color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
        letter-spacing: 0.42px;
    }

    &__link::before {
        @extend %title;
        border-radius: 4px;
        background: $additionaltext-color;
    }
}