







.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &__list {
        display: flex;
        gap: 30px;
        margin-top: 50px;
        justify-content: center;
    }

    &__icons {
        border-radius: 4px;
        border: 1px solid $text-color;
        padding: 16px 32px 16px 32px;
        display: block;
        outline: none;

        &:hover {
            border: 1px solid $accented-color;
        }

        &:focus {
            border: 1px solid $accented-color;
        }
        &:focus .clients-icon {
            fill: $accented-color;
        }
        
        &:hover .clients-icon {
            fill: $accented-color;
        }
    }

    &__title {
        color: $title-color;
        text-align: center;
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
    }
    &__icon {
        width: 106px;
        height: 60px;
        fill: $text-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}