
.clients {
    @extend %time;

    &__list {
       @extend %main;
        gap: 30px;
        margin-top: 50px;
       
    }

    &__icons {
        border-radius: 4px;
        border: 1px solid $text-color;
        padding: 16px 32px 16px 32px;
        display: block;
        outline: none;

        &:hover {
            border: 1px solid $accented-color;
        }

        &:focus {
            border: 1px solid $accented-color;
        }
        &:focus .clients-icon {
            fill: $accented-color;
        }
        
        &:hover .clients-icon {
            fill: $accented-color;
        }
    }

    &__title {
     @include title ()
    }
    &__icon {
        width: 106px;
        height: 60px;
        fill: $text-color;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}