.team {
    background: $before-bacground;
    @extend %time;

    &__title {
        @include title();
        margin-bottom: 50px;
    }

    &__text {
        color: $text-color;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-top: 10px;
    }

    &__subtitle {
        color: $title-color;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.48px;
    }

    &__item {
        background-color: $additionaltext-color;
        border-radius: 0px 0px 4px 4px;
        color: $text-color;
        padding-bottom: 24px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

        @media screen and (min-width: 1200px) {
            padding-bottom: 30px;
        }
    }

    &__img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 354px;
            height: 374px;
            flex-shrink: 0;
        }

        @media screen and (min-width: 1200px) {
            height: 260px;
            width: 270px;
        }
    }

    &__list {
        text-align: center;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }

    &__icon {
        fill: $text-color;
        cursor: pointer;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            fill: $additionaltext-color;
            border-radius: 50px;
            background-color: $accented-color ;
        }

        &:focus {
            fill: $additionaltext-color;
            border-radius: 50px;
            background-color: $accented-color ;
        }
    }

    &__iconphoto {
        display: flex;
        justify-content: center;
        width: 44px;
        height: 44px;
        align-items: center;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 50px;

        &:hover {
            background-color: $accented-color;
        }

        &:focus {
            border-radius: 50px;
            background-color: $accented-color;
            fill: $additionaltext-color;

        }
    }

    &__subicon {
        width: 20px;
        height: 20px;
    }

    &__sublist {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 28px;
    }
}